div {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
}

.glitch {
  font-family: Bahnschrift, monospace;
  color: var(--font-color);
  font-size: 300%;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch1 {
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
  animation: glitch1 var(--duration) infinite;
}

.glitch2 {
  clip-path: polygon(0 29.85%, 100% 29.85%, 100% 45%, 0 45%);
  animation: glitch2 var(--duration) infinite;
}

.glitch3 {
  clip-path: polygon(0 44.85%, 100% 44.85%, 100% 68%, 0 68%);
  animation: glitch3 var(--duration) infinite;
}

.glitch4 {
  clip-path: polygon(0 67.85%, 100% 67.85%, 100% 95%, 0 95%);
  animation: glitch4 var(--duration) infinite;
}

@keyframes glitch1 {
  2% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-0.02em);
    text-shadow: 0.03em 0 0 var(--first-color), -0.03em 0 0 var(--second-color);
  }

  6% {
    text-shadow: 0 0 0;
  }

  7% {
    transform: translateX(0);
  }
}

@keyframes glitch2 {
  2% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(0.1em);
    text-shadow: 0.03em 0 0 var(--first-color), -0.03em 0 0 var(--second-color);
  }

  6% {
    text-shadow: 0 0 0;
    transform: translateX(-0.02em);
  }

  7% {
    transform: translateX(0);

  }
}

@keyframes glitch3 {
  2% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-0.02em);
    text-shadow: 0.03em 0 0 var(--first-color), -0.03em 0 0 var(--second-color);
  }

  6% {
    text-shadow: 0 0 0;
  }

  7% {
    transform: translateX(0);
  }
}

@keyframes glitch4 {
  3% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-0.09em);
    text-shadow: 0.03em 0 0 var(--first-color), -0.03em 0 0 var(--second-color);
  }

  6% {
    text-shadow: 0 0 0;
    transform: translateX(0.05em);
  }

  8% {
    transform: translateX(0);
  }
}
